{% extends "layout/layoutMaster.twig" %}

{% block title %}{{ dataCompany.nome|upper }} - CATÁLOGO ONLINE {% endblock %}

{% block body %}

<div class="d-flex">

    <div class="w-100">

    	<div class="main-content">

		    <div class="cluster-heading">
		      <h2 class="single-title-link text-left"></h2>
		    </div>

		    <div id="login_content" class="row justify-content-md-center">

				<div class="col-md-4 text-center">
					<div class="card p-4">

						<div class="text-center mb-3">
						  <br><img src="{{ dataCompany.imagem }}" alt="logo" class="" height="38">
						</div>

						<div class="mb-3">
							<form method="POST" action="{{ DOMAIN }}/{{ dataCompany.slug }}/recover-password-change" enctype="multipart/form-data">
								{% if( valid_date ) %}

									<div class="text-center">
										<h3>Recuperação de Senha</h3>
										<div>Preencha os campos abaixo para cadastrar uma nova senha.</div>
										<br>
									</div>

									<div class="input-group mb-3">
										<input type="password" name="password" class="form-control" placeholder="Nova Senha">
										<div class="input-group-append">
											<button class="btn btn-light" type="button"><i class="fal fa-unlock-alt"></i></button>
										</div>
									</div>

									<div class="input-group mb-3">
										<input type="password" name="confirm-password" class="form-control" placeholder="Confirmar Senha">
										<div class="input-group-append">
											<button class="btn btn-light" type="button"><i class="fal fa-unlock-alt"></i></button>
										</div>
									</div>
									<input type="hidden" name="recover-code" value="{{ recover_code }}">
									<button type="submit" class="btn btn-danger btn-block">RESETAR</button>

								{% else %}

									<div class="text-center">
										<h3>Link Espirado</h3>
										<div>Faça uma nova socilitação de recuperação de senha.</div>
										<br>
									</div>

								{% endif %}

							</form>
						</div>

						<div class="clearfix"></div>

					</div>
				</div>

		    </div>

		</div>

    </div>

</div>

{% endblock %}