<div class="list-header">Adicionar a...</div>
<div class="list-itens">
    {% for list in userList %}
        {% if list.id_item == idProduct %}
            {% set action = 'delete' %}
            {% set checked = 'checked' %}
        {% else %}
            {% set action = 'insert' %}
            {% set checked = '' %}
        {% endif %}
        <div class="list-item mb-2 pl-2 pt-2 w-100">
            <div class="w-100 checkbox-custom">
                <label class="w-100 m-0"
                    onclick="addItemList('{{ dataCompany.id }}', '{{ idProduct }}', '{{ list.id }}');"
                    data-type="addItemList" data-action="{{ action }}"
                    id="addItemList-{{ idProduct }}-{{ list.id }}">
                    <input type="checkbox" name="checkbox" value="value" {{ checked }}>
                    <b></b>
                    {{ list.nome }}
                    {# todo felipe remover o public #}
                    <span class="pull-right pr-2" id="publico_{{ idProduct }}"><i class="fal <?php echo $publico; ?>"></i></span>
                </label>
            </div>
        </div>
    {% endfor %}
</div>
<div class="list-footer">
    <a href="javascript:void(0);" class="newsListaShow" onclick="NewLista('show');"><i class="fal fa-plus"></i> Criar nova lista</a>
    <div class="newLista" style="display: none;">
        <form action="javascript:void(0);" method="POST" id="nova-lista-cadastrar">
            <div class="form-group mb-2">
                <label class="mb-0"><small>Nome</small></label>
                <input type="text" name="nameList" value="" onkeyup="preencher(this.id, this.value)" id="nameNewList_{{ idProduct }}" class="nameList form-control p-0" placeholder="Nome da Lista" required="required" autocomplete="off">
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="publico" id="publico_{{ idProduct }}" value="1" checked>
                <label class="form-check-label" for="publico"><i class="fal fa-lock-open-alt"></i> Público</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="publico" id="privado_{{ idProduct }}" value="0">
                <label class="form-check-label" for="privado"><i class="fal fa-lock-alt"></i> Privado</label>
            </div>

            <input type="hidden" name="produto_item" id="produto_item{{ idProduct }}" value="1">
            <input type="hidden" name="i" id="i_list_{{ idProduct }}" value="{{ dataCompany.id }}">
            <input type="hidden" name="itemList" id="itemList_{{ idProduct }}" value="{{ idProduct }}">
            <input type="hidden" name="action" id="action_{{ idProduct }}" value="cadastro">
            <div class="d-flex justify-content-between align-items-center border-top">
                <div>
                    <a href="javascript:void(0);" onclick="NewLista('hide');" class="p-1 text-danger btn-block font-weight-bold">CANCELAR</a>
                </div>
                <div>
                    <button type="submit" onclick="saveNewLista('{{ idProduct }}');" class="p-1 bg-transparent border-0 text-primary btn-block font-weight-bold" id="lista-salvar">SALVAR</button>
                </div>
            </div>                  
        </form>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("input[name=publico]").change(function(){
    if($(this).is(':checked')){
            $('#produto_item{{ idProduct }}').val($(this).val());
        } else {
            $('#produto_item{{ idProduct }}').val($(this).val());
        }
    });
});
</script>