<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="">
    <meta name="author" content="Agencia Close">
    <meta name="generator" content="Hugo 0.80.0">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="{{ DOMAIN }}">
</head>
<body>

{{ include('inc/header.twig') }}

{{ include('inc/menu.twig') }}

<main id="content">
    {% block body %}{% endblock %}
</main>


{{ include('inc/footer.twig') }}
{{ include('inc/script.twig') }}

</body>
</html>
